
<div class="main-wrapper">
  <main role="main">
    <%= render 'shared/home'%>
    <%= render 'shared/about'%>
    <%= render 'shared/resume'%>
    <%= render 'shared/portfolio'%>
    <%= render 'shared/facts' %>
    <%= render 'shared/testimonial' %>
    <%= render 'shared/blog' %>
    <%= render 'shared/footer' %>
  </main>
</div> 